openapi: 3.1.0
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: >-
    Store and manage build artifacts in a scalable and integrated service built
    on Google infrastructure.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Artifact Registry API
  version: v1
servers:
  - url: 'https://artifactregistry.googleapis.com/'
paths:
  '/v1/{+name}':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    delete:
      parameters:
        - description: Required. The name of the attachment to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            By default, a version that is tagged may not be deleted. If
            force=true, the version and any tags pointing to the version are
            deleted.
          in: query
          name: force
          schema:
            type: boolean
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Deletes an attachment. The returned Operation will finish once the
        attachments has been deleted. It will not have any Operation metadata
        and will return a `google.protobuf.Empty` response.
      operationId: artifactregistry.projects.locations.repositories.attachments.delete
    get:
      parameters:
        - description: Required. The name of the attachment to retrieve.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The view that should be returned in the response.
          in: query
          name: view
          schema:
            enum:
              - VERSION_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Attachment'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Gets an attachment.
      operationId: artifactregistry.projects.locations.repositories.attachments.get
    patch:
      parameters:
        - description: >-
            The name of the rule, for example:
            `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            The update mask applies to the resource. For the `FieldMask`
            definition, see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask
          in: query
          name: updateMask
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleDevtoolsArtifactregistryV1Rule'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: Updates a rule.
      operationId: artifactregistry.projects.locations.repositories.rules.patch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleDevtoolsArtifactregistryV1Rule'
  '/v1/{+name}/locations':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: 'The resource that owns the locations collection, if applicable.'
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: >-
            Optional. A list of extra location types that should be used as
            conditions for controlling the visibility of the locations.
          explode: true
          in: query
          name: extraLocationTypes
          schema:
            items:
              type: string
            type: array
        - description: >-
            A filter to narrow down results to a preferred subset. The filtering
            language accepts strings like `"displayName=tokyo"`, and is
            documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: >-
            The maximum number of results to return. If not set, the service
            selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            A page token received from the `next_page_token` field in the
            response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists information about the supported locations for this service.
      operationId: artifactregistry.projects.locations.list
  '/v1/{+name}:download':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: Required. The name of the file to download.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DownloadFileResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Download a file.
      operationId: artifactregistry.projects.locations.repositories.files.download
  '/v1/{+parent}/aptArtifacts:create':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The name of the parent resource where the artifacts will be
            uploaded.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadAptArtifactMediaResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Directly uploads an Apt artifact. The returned Operation will complete
        once the resources are uploaded. Package, Version, and File resources
        are created based on the imported artifact. Imported artifacts that
        conflict with existing resources are ignored.
      operationId: artifactregistry.projects.locations.repositories.aptArtifacts.upload
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UploadAptArtifactRequest'
  '/v1/{+parent}/aptArtifacts:import':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The name of the parent resource where the artifacts will be
            imported.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Imports Apt artifacts. The returned Operation will complete once the
        resources are imported. Package, Version, and File resources are created
        based on the imported artifacts. Imported artifacts that conflict with
        existing resources are ignored.
      operationId: artifactregistry.projects.locations.repositories.aptArtifacts.import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportAptArtifactsRequest'
  '/v1/{+parent}/attachments':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the parent resource whose attachments will be
            listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            Optional. An expression for filtering the results of the request.
            Filter rules are case insensitive. The fields eligible for filtering
            are: * `target` * `type` * `attachment_namespace`
          in: query
          name: filter
          schema:
            type: string
        - description: >-
            The maximum number of attachments to return. Maximum page size is
            1,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListAttachmentsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists attachments.
      operationId: artifactregistry.projects.locations.repositories.attachments.list
    post:
      parameters:
        - description: >-
            Required. The name of the parent resource where the attachment will
            be created.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The attachment id to use for this attachment.
          in: query
          name: attachmentId
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Creates an attachment. The returned Operation will finish once the
        attachment has been created. Its response will be the created
        attachment.
      operationId: artifactregistry.projects.locations.repositories.attachments.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Attachment'
  '/v1/{+parent}/dockerImages':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the parent resource whose docker images will
            be listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The field to order the results by.
          in: query
          name: orderBy
          schema:
            type: string
        - description: >-
            The maximum number of artifacts to return. Maximum page size is
            1,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListDockerImagesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists docker images.
      operationId: artifactregistry.projects.locations.repositories.dockerImages.list
  '/v1/{+parent}/files':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the repository whose files will be listed. For
            example: "projects/p1/locations/us-central1/repositories/repo1
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            An expression for filtering the results of the request. Filter rules
            are case insensitive. The fields eligible for filtering are: *
            `name` * `owner` * `annotations` Examples of using a filter: To
            filter the results of your request to files with the name
            `my_file.txt` in project `my-project` in the `us-central` region, in
            repository `my-repo`, append the following filter expression to your
            request: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/files/my-file.txt"`
            You can also use wildcards to match any number of characters before
            or after the value: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/files/my-*"`
            *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/files/*file.txt"`
            *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/files/*file*"`
            To filter the results of your request to files owned by the version
            `1.0` in package `pkg1`, append the following filter expression to
            your request: *
            `owner="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0"`
            To filter the results of your request to files with the annotation
            key-value pair [`external_link`: `external_link_value`], append the
            following filter expression to your request: *
            `"annotations.external_link:external_link_value"` To filter just for
            a specific annotation key `external_link`, append the following
            filter expression to your request: * `"annotations.external_link"`
            If the annotation key or value contains special characters, you can
            escape them by surrounding the value with backticks. For example, to
            filter the results of your request to files with the annotation
            key-value pair [`external.link`:`https://example.com/my-file`],
            append the following filter expression to your request: * ``
            "annotations.`external.link`:`https://example.com/my-file`" `` You
            can also filter with annotations with a wildcard to match any number
            of characters before or after the value: * ``
            "annotations.*_link:`*example.com*`" ``
          in: query
          name: filter
          schema:
            type: string
        - description: The field to order the results by.
          in: query
          name: orderBy
          schema:
            type: string
        - description: 'The maximum number of files to return. Maximum page size is 1,000.'
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists files.
      operationId: artifactregistry.projects.locations.repositories.files.list
  '/v1/{+parent}/files:upload':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            Required. The resource name of the repository where the file will be
            uploaded.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadFileMediaResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Directly uploads a file to a repository. The returned Operation will
        complete once the resources are uploaded.
      operationId: artifactregistry.projects.locations.repositories.files.upload
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UploadFileRequest'
  '/v1/{+parent}/genericArtifacts:create':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The resource name of the repository where the generic artifact will
            be uploaded.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadGenericArtifactMediaResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Directly uploads a Generic artifact. The returned operation will
        complete once the resources are uploaded. Package, version, and file
        resources are created based on the uploaded artifact. Uploaded artifacts
        that conflict with existing resources will raise an `ALREADY_EXISTS`
        error.
      operationId: artifactregistry.projects.locations.repositories.genericArtifacts.upload
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UploadGenericArtifactRequest'
  '/v1/{+parent}/goModules:create':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The resource name of the repository where the Go module will be
            uploaded.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadGoModuleMediaResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Directly uploads a Go module. The returned Operation will complete once
        the Go module is uploaded. Package, Version, and File resources are
        created based on the uploaded Go module.
      operationId: artifactregistry.projects.locations.repositories.goModules.upload
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UploadGoModuleRequest'
  '/v1/{+parent}/googetArtifacts:create':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The name of the parent resource where the artifacts will be
            uploaded.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadGoogetArtifactMediaResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Directly uploads a GooGet artifact. The returned Operation will complete
        once the resources are uploaded. Package, Version, and File resources
        are created based on the imported artifact. Imported artifacts that
        conflict with existing resources are ignored.
      operationId: artifactregistry.projects.locations.repositories.googetArtifacts.upload
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UploadGoogetArtifactRequest'
  '/v1/{+parent}/googetArtifacts:import':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The name of the parent resource where the artifacts will be
            imported.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Imports GooGet artifacts. The returned Operation will complete once the
        resources are imported. Package, Version, and File resources are created
        based on the imported artifacts. Imported artifacts that conflict with
        existing resources are ignored.
      operationId: artifactregistry.projects.locations.repositories.googetArtifacts.import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportGoogetArtifactsRequest'
  '/v1/{+parent}/kfpArtifacts:create':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The resource name of the repository where the KFP artifact will be
            uploaded.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadKfpArtifactMediaResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Directly uploads a KFP artifact. The returned Operation will complete
        once the resource is uploaded. Package, Version, and File resources will
        be created based on the uploaded artifact. Uploaded artifacts that
        conflict with existing resources will be overwritten.
      operationId: artifactregistry.projects.locations.repositories.kfpArtifacts.upload
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UploadKfpArtifactRequest'
  '/v1/{+parent}/mavenArtifacts':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the parent resource whose maven artifacts will
            be listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of artifacts to return. Maximum page size is
            1,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListMavenArtifactsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists maven artifacts.
      operationId: artifactregistry.projects.locations.repositories.mavenArtifacts.list
  '/v1/{+parent}/npmPackages':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the parent resource whose npm packages will be
            listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of artifacts to return. Maximum page size is
            1,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListNpmPackagesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists npm packages.
      operationId: artifactregistry.projects.locations.repositories.npmPackages.list
  '/v1/{+parent}/packages':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the parent resource whose packages will be
            listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            Optional. An expression for filtering the results of the request.
            Filter rules are case insensitive. The fields eligible for filtering
            are: * `name` * `annotations` Examples of using a filter: To filter
            the results of your request to packages with the name `my-package`
            in project `my-project` in the `us-central` region, in repository
            `my-repo`, append the following filter expression to your request: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package"`
            You can also use wildcards to match any number of characters before
            or after the value: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-*"`
            *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/*package"`
            *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/*pack*"`
            To filter the results of your request to packages with the
            annotation key-value pair [`external_link`: `external_link_value`],
            append the following filter expression to your request": *
            `"annotations.external_link:external_link_value"` To filter the
            results just for a specific annotation key `external_link`, append
            the following filter expression to your request: *
            `"annotations.external_link"` If the annotation key or value
            contains special characters, you can escape them by surrounding the
            value with backticks. For example, to filter the results of your
            request to packages with the annotation key-value pair
            [`external.link`:`https://example.com/my-package`], append the
            following filter expression to your request: * ``
            "annotations.`external.link`:`https://example.com/my-package`" ``
            You can also filter with annotations with a wildcard to match any
            number of characters before or after the value: * ``
            "annotations.*_link:`*example.com*`" ``
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The field to order the results by.
          in: query
          name: orderBy
          schema:
            type: string
        - description: >-
            The maximum number of packages to return. Maximum page size is
            1,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListPackagesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists packages.
      operationId: artifactregistry.projects.locations.repositories.packages.list
  '/v1/{+parent}/pythonPackages':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the parent resource whose python packages will
            be listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            The maximum number of artifacts to return. Maximum page size is
            1,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListPythonPackagesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists python packages.
      operationId: artifactregistry.projects.locations.repositories.pythonPackages.list
  '/v1/{+parent}/repositories':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the parent resource whose repositories will be
            listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            Optional. An expression for filtering the results of the request.
            Filter rules are case insensitive. The fields eligible for filtering
            are: * `name` Examples of using a filter: To filter the results of
            your request to repositories with the name `my-repo` in project
            `my-project` in the `us-central` region, append the following filter
            expression to your request: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo"`
            You can also use wildcards to match any number of characters before
            or after the value: *
            `name="projects/my-project/locations/us-central1/repositories/my-*"`
            *
            `name="projects/my-project/locations/us-central1/repositories/*repo"`
            *
            `name="projects/my-project/locations/us-central1/repositories/*repo*"`
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The field to order the results by.
          in: query
          name: orderBy
          schema:
            type: string
        - description: >-
            The maximum number of repositories to return. Maximum page size is
            1,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListRepositoriesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists repositories.
      operationId: artifactregistry.projects.locations.repositories.list
    post:
      parameters:
        - description: >-
            Required. The name of the parent resource where the repository will
            be created.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The repository id to use for this repository.
          in: query
          name: repositoryId
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Creates a repository. The returned Operation will finish once the
        repository has been created. Its response will be the created
        Repository.
      operationId: artifactregistry.projects.locations.repositories.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Repository'
  '/v1/{+parent}/rules':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            Required. The name of the parent repository whose rules will be
            listed. For example:
            `projects/p1/locations/us-central1/repositories/repo1`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'The maximum number of rules to return. Maximum page size is 1,000.'
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListRulesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists rules.
      operationId: artifactregistry.projects.locations.repositories.rules.list
    post:
      parameters:
        - description: >-
            Required. The name of the parent resource where the rule will be
            created.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The rule id to use for this repository.
          in: query
          name: ruleId
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GoogleDevtoolsArtifactregistryV1Rule'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: Creates a rule.
      operationId: artifactregistry.projects.locations.repositories.rules.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleDevtoolsArtifactregistryV1Rule'
  '/v1/{+parent}/tags':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            The name of the parent package whose tags will be listed. For
            example:
            `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            An expression for filtering the results of the request. Filter rules
            are case insensitive. The fields eligible for filtering are: *
            `name` * `version` Examples of using a filter: To filter the results
            of your request to tags with the name `my-tag` in package
            `my-package` in repository `my-repo` in project "`y-project` in the
            us-central region, append the following filter expression to your
            request: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my-tag"`
            You can also use wildcards to match any number of characters before
            or after the value: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my*"`
            *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag"`
            *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag*"`
            To filter the results of your request to tags applied to the version
            `1.0` in package `my-package`, append the following filter
            expression to your request: *
            `version="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0"`
          in: query
          name: filter
          schema:
            type: string
        - description: 'The maximum number of tags to return. Maximum page size is 1,000.'
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListTagsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists tags.
      operationId: artifactregistry.projects.locations.repositories.packages.tags.list
    post:
      parameters:
        - description: The name of the parent resource where the tag will be created.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The tag id to use for this repository.
          in: query
          name: tagId
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Tag'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: Creates a tag.
      operationId: artifactregistry.projects.locations.repositories.packages.tags.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Tag'
  '/v1/{+parent}/versions':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: The name of the parent resource whose versions will be listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: >-
            Optional. An expression for filtering the results of the request.
            Filter rules are case insensitive. The fields eligible for filtering
            are: * `name` * `annotations` Examples of using a filter: To filter
            the results of your request to versions with the name `my-version`
            in project `my-project` in the `us-central` region, in repository
            `my-repo`, append the following filter expression to your request: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/my-version"`
            You can also use wildcards to match any number of characters before
            or after the value: *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/*version"`
            *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/my*"`
            *
            `name="projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/*version*"`
            To filter the results of your request to versions with the
            annotation key-value pair [`external_link`: `external_link_value`],
            append the following filter expression to your request: *
            `"annotations.external_link:external_link_value"` To filter just for
            a specific annotation key `external_link`, append the following
            filter expression to your request: * `"annotations.external_link"`
            If the annotation key or value contains special characters, you can
            escape them by surrounding the value with backticks. For example, to
            filter the results of your request to versions with the annotation
            key-value pair [`external.link`:`https://example.com/my-version`],
            append the following filter expression to your request: * ``
            "annotations.`external.link`:`https://example.com/my-version`" ``
            You can also filter with annotations with a wildcard to match any
            number of characters before or after the value: * ``
            "annotations.*_link:`*example.com*`" ``
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The field to order the results by.
          in: query
          name: orderBy
          schema:
            type: string
        - description: >-
            The maximum number of versions to return. Maximum page size is
            1,000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: >-
            The next_page_token value returned from a previous list request, if
            any.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The view that should be returned in the response.
          in: query
          name: view
          schema:
            enum:
              - VERSION_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListVersionsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Lists versions.
      operationId: artifactregistry.projects.locations.repositories.packages.versions.list
  '/v1/{+parent}/versions:batchDelete':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: The name of the repository holding all requested versions.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Deletes multiple versions across a repository. The returned operation
        will complete once the versions have been deleted.
      operationId: >-
        artifactregistry.projects.locations.repositories.packages.versions.batchDelete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDeleteVersionsRequest'
  '/v1/{+parent}/yumArtifacts:create':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The name of the parent resource where the artifacts will be
            uploaded.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UploadYumArtifactMediaResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Directly uploads a Yum artifact. The returned Operation will complete
        once the resources are uploaded. Package, Version, and File resources
        are created based on the imported artifact. Imported artifacts that
        conflict with existing resources are ignored.
      operationId: artifactregistry.projects.locations.repositories.yumArtifacts.upload
      requestBody:
        content:
          application/octet-stream:
            schema:
              $ref: '#/components/schemas/UploadYumArtifactRequest'
  '/v1/{+parent}/yumArtifacts:import':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            The name of the parent resource where the artifacts will be
            imported.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: >-
        Imports Yum (RPM) artifacts. The returned Operation will complete once
        the resources are imported. Package, Version, and File resources are
        created based on the imported artifacts. Imported artifacts that
        conflict with existing resources are ignored.
      operationId: artifactregistry.projects.locations.repositories.yumArtifacts.import
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportYumArtifactsRequest'
  '/v1/{+resource}:getIamPolicy':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    get:
      parameters:
        - description: >-
            REQUIRED: The resource for which the policy is being requested. See
            [Resource
            names](https://cloud.google.com/apis/design/resource_names) for the
            appropriate value for this field.
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: >-
            Optional. The maximum policy version that will be used to format the
            policy. Valid values are 0, 1, and 3. Requests specifying an invalid
            value will be rejected. Requests for policies with any conditional
            role bindings must specify version 3. Policies with no conditional
            role bindings may specify any valid value or leave the field unset.
            The policy in the response might use the policy version that you
            specified, or it might use a lower policy version. For example, if
            you specify version 3, but the policy has no conditional role
            bindings, the response uses version 1. To learn which resources
            support conditions in their IAM policies, see the [IAM
            documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Gets the IAM policy for a given resource.
      operationId: artifactregistry.projects.locations.repositories.getIamPolicy
  '/v1/{+resource}:setIamPolicy':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            REQUIRED: The resource for which the policy is being specified. See
            [Resource
            names](https://cloud.google.com/apis/design/resource_names) for the
            appropriate value for this field.
          in: path
          name: resource
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
      description: Updates the IAM policy for a given resource.
      operationId: artifactregistry.projects.locations.repositories.setIamPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
  '/v1/{+resource}:testIamPermissions':
    parameters:
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/_.xgafv'
    post:
      parameters:
        - description: >-
            REQUIRED: The resource for which the policy detail is being
            requested. See [Resource
            names](https://cloud.google.com/apis/design/resource_names) for the
            appropriate value for this field.
          in: path
          name: resource
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
      tags:
        - projects
      description: Tests if the caller has a list of permissions on a resource.
      operationId: artifactregistry.projects.locations.repositories.testIamPermissions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - '1'
          - '2'
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: >-
        API key. Your API key identifies your project and provides you with API
        access, quota, and reports. Required unless you provide an OAuth 2.0
        token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: >-
        Available to use for quota purposes for server-side applications. Can be
        any arbitrary string assigned to a user, but should not exceed 40
        characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      schema:
        type: string
  requestBodies:
    GoogleDevtoolsArtifactregistryV1Rule:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GoogleDevtoolsArtifactregistryV1Rule'
  schemas:
    AptArtifact:
      description: >-
        A detailed representation of an Apt artifact. Information in the record
        is derived from the archive's control file. See
        https://www.debian.org/doc/debian-policy/ch-controlfields.html
      properties:
        architecture:
          description: Output only. Operating system architecture of the artifact.
          readOnly: true
          type: string
        component:
          description: Output only. Repository component of the artifact.
          readOnly: true
          type: string
        controlFile:
          description: Output only. Contents of the artifact's control metadata file.
          format: byte
          readOnly: true
          type: string
        name:
          description: Output only. The Artifact Registry resource name of the artifact.
          readOnly: true
          type: string
        packageName:
          description: Output only. The Apt package name of the artifact.
          readOnly: true
          type: string
        packageType:
          description: Output only. An artifact is a binary or source package.
          enum:
            - PACKAGE_TYPE_UNSPECIFIED
            - BINARY
            - SOURCE
          readOnly: true
          type: string
      type: object
    AptRepository:
      description: Configuration for an Apt remote repository.
      properties:
        customRepository:
          $ref: >-
            #/components/schemas/GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository
          description: Customer-specified remote repository.
        publicRepository:
          $ref: >-
            #/components/schemas/GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository
          description: >-
            One of the publicly available Apt repositories supported by Artifact
            Registry.
      type: object
    Attachment:
      description: >-
        An Attachment refers to additional metadata that can be attached to
        artifacts in Artifact Registry. An attachment consists of one or more
        files.
      properties:
        annotations:
          additionalProperties:
            type: string
          description: >-
            Optional. User annotations. These attributes can only be set and
            used by the user, and not by Artifact Registry. See
            https://google.aip.dev/128#annotations for more details such as
            format and size limitations.
          type: object
        attachmentNamespace:
          description: >-
            The namespace this attachment belongs to. E.g. If an attachment is
            created by artifact analysis, namespace is set to
            `artifactanalysis.googleapis.com`.
          type: string
        createTime:
          description: Output only. The time when the attachment was created.
          format: google-datetime
          readOnly: true
          type: string
        files:
          description: >-
            Required. The files that belong to this attachment. If the file ID
            part contains slashes, they are escaped. E.g.
            `projects/p1/locations/us-central1/repositories/repo1/files/sha:`.
          items:
            type: string
          type: array
        name:
          description: >-
            The name of the attachment. E.g.
            `projects/p1/locations/us/repositories/repo/attachments/sbom`.
          type: string
        ociVersionName:
          description: >-
            Output only. The name of the OCI version that this attachment
            created. Only populated for Docker attachments. E.g.
            `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`.
          readOnly: true
          type: string
        target:
          description: >-
            Required. The target the attachment is for, can be a Version,
            Package or Repository. E.g.
            `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`.
          type: string
        type:
          description: Type of attachment. E.g. `application/vnd.spdx+json`
          type: string
        updateTime:
          description: Output only. The time when the attachment was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    BatchDeleteVersionsMetadata:
      description: The metadata of an LRO from deleting multiple versions.
      properties:
        failedVersions:
          description: The versions the operation failed to delete.
          items:
            type: string
          type: array
      type: object
    BatchDeleteVersionsRequest:
      description: The request to delete multiple versions across a repository.
      properties:
        names:
          description: >-
            Required. The names of the versions to delete. The maximum number of
            versions deleted per batch is determined by the service and is
            dependent on the available resources in the region.
          items:
            type: string
          type: array
        validateOnly:
          description: >-
            If true, the request is performed without deleting data, following
            AIP-163.
          type: boolean
      type: object
    Binding:
      description: 'Associates `members`, or principals, with a `role`.'
      properties:
        condition:
          $ref: '#/components/schemas/Expr'
          description: >-
            The condition that is associated with this binding. If the condition
            evaluates to `true`, then this binding applies to the current
            request. If the condition evaluates to `false`, then this binding
            does not apply to the current request. However, a different role
            binding might grant the same role to one or more of the principals
            in this binding. To learn which resources support conditions in
            their IAM policies, see the [IAM
            documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: >-
            Specifies the principals requesting access for a Google Cloud
            resource. `members` can have the following values: * `allUsers`: A
            special identifier that represents anyone who is on the internet;
            with or without a Google account. * `allAuthenticatedUsers`: A
            special identifier that represents anyone who is authenticated with
            a Google account or a service account. Does not include identities
            that come from external identity providers (IdPs) through identity
            federation. * `user:{emailid}`: An email address that represents a
            specific Google account. For example, `alice@example.com` . *
            `serviceAccount:{emailid}`: An email address that represents a
            Google service account. For example,
            `my-other-app@appspot.gserviceaccount.com`. *
            `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`:
            An identifier for a [Kubernetes service
            account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts).
            For example,
            `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. *
            `group:{emailid}`: An email address that represents a Google group.
            For example, `admins@example.com`. * `domain:{domain}`: The G Suite
            domain (primary) that represents all the users of that domain. For
            example, `google.com` or `example.com`. *
            `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:
            A single identity in a workforce identity pool. *
            `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`:
            All workforce identities in a group. *
            `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:
            All workforce identities with a specific attribute value. *
            `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`:
            All identities in a workforce identity pool. *
            `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`:
            A single identity in a workload identity pool. *
            `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`:
            A workload identity pool group. *
            `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`:
            All identities in a workload identity pool with a certain attribute.
            *
            `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`:
            All identities in a workload identity pool. *
            `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus
            unique identifier) representing a user that has been recently
            deleted. For example, `alice@example.com?uid=123456789012345678901`.
            If the user is recovered, this value reverts to `user:{emailid}` and
            the recovered user retains the role in the binding. *
            `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address
            (plus unique identifier) representing a service account that has
            been recently deleted. For example,
            `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.
            If the service account is undeleted, this value reverts to
            `serviceAccount:{emailid}` and the undeleted service account retains
            the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`:
            An email address (plus unique identifier) representing a Google
            group that has been recently deleted. For example,
            `admins@example.com?uid=123456789012345678901`. If the group is
            recovered, this value reverts to `group:{emailid}` and the recovered
            group retains the role in the binding. *
            `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`:
            Deleted single identity in a workforce identity pool. For example,
            `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.
          items:
            type: string
          type: array
        role:
          description: >-
            Role that is assigned to the list of `members`, or principals. For
            example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an
            overview of the IAM roles and permissions, see the [IAM
            documentation](https://cloud.google.com/iam/docs/roles-overview).
            For a list of the available pre-defined roles, see
            [here](https://cloud.google.com/iam/docs/understanding-roles).
          type: string
      type: object
    CleanupPolicy:
      description: Artifact policy configuration for repository cleanup policies.
      properties:
        action:
          description: Policy action.
          enum:
            - ACTION_UNSPECIFIED
            - DELETE
            - KEEP
          type: string
        condition:
          $ref: '#/components/schemas/CleanupPolicyCondition'
          description: Policy condition for matching versions.
        id:
          description: The user-provided ID of the cleanup policy.
          type: string
        mostRecentVersions:
          $ref: '#/components/schemas/CleanupPolicyMostRecentVersions'
          description: >-
            Policy condition for retaining a minimum number of versions. May
            only be specified with a Keep action.
      type: object
    CleanupPolicyCondition:
      description: >-
        CleanupPolicyCondition is a set of conditions attached to a
        CleanupPolicy. If multiple entries are set, all must be satisfied for
        the condition to be satisfied.
      properties:
        newerThan:
          description: Match versions newer than a duration.
          format: google-duration
          type: string
        olderThan:
          description: Match versions older than a duration.
          format: google-duration
          type: string
        packageNamePrefixes:
          description: Match versions by package prefix. Applied on any prefix match.
          items:
            type: string
          type: array
        tagPrefixes:
          description: Match versions by tag prefix. Applied on any prefix match.
          items:
            type: string
          type: array
        tagState:
          description: Match versions by tag status.
          enum:
            - TAG_STATE_UNSPECIFIED
            - TAGGED
            - UNTAGGED
            - ANY
          type: string
        versionNamePrefixes:
          description: Match versions by version name prefix. Applied on any prefix match.
          items:
            type: string
          type: array
      type: object
    CleanupPolicyMostRecentVersions:
      description: >-
        CleanupPolicyMostRecentVersions is an alternate condition of a
        CleanupPolicy for retaining a minimum number of versions.
      properties:
        keepCount:
          description: Minimum number of versions to keep.
          format: int32
          type: integer
        packageNamePrefixes:
          description: List of package name prefixes that will apply this rule.
          items:
            type: string
          type: array
      type: object
    CommonRemoteRepository:
      description: Common remote repository settings type.
      properties:
        uri:
          description: Required. A common public repository base for remote repository.
          type: string
      type: object
    DockerImage:
      description: >-
        DockerImage represents a docker artifact. The following fields are
        returned as untyped metadata in the Version resource, using camelcase
        keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType *
        buildTime
      properties:
        tags:
          description: Tags attached to this image.
          items:
            type: string
          type: array
        buildTime:
          description: >-
            The time this image was built. This field is returned as the
            'metadata.buildTime' field in the Version resource. The build time
            is returned to the client as an RFC 3339 string, which can be easily
            used with the JavaScript Date constructor.
          format: google-datetime
          type: string
        imageSizeBytes:
          description: >-
            Calculated size of the image. This field is returned as the
            'metadata.imageSizeBytes' field in the Version resource.
          format: int64
          type: string
        mediaType:
          description: >-
            Media type of this image, e.g.
            "application/vnd.docker.distribution.manifest.v2+json". This field
            is returned as the 'metadata.mediaType' field in the Version
            resource.
          type: string
        name:
          description: >-
            Required. registry_location, project_id, repository_name and image
            id forms a unique image
            name:`projects//locations//repository//dockerImages/`. For example,
            "projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/
            nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
            where "us-west4" is the registry_location, "test-project" is the
            project_id, "test-repo" is the repository_name and
            "nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf"
            is the image's digest.
          type: string
        updateTime:
          description: Output only. The time when the docker image was last updated.
          format: google-datetime
          readOnly: true
          type: string
        uploadTime:
          description: Time the image was uploaded.
          format: google-datetime
          type: string
        uri:
          description: >-
            Required. URL to access the image. Example:
            us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf
          type: string
      type: object
    DockerRepository:
      description: Configuration for a Docker remote repository.
      properties:
        customRepository:
          $ref: >-
            #/components/schemas/GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository
          description: Customer-specified remote repository.
        publicRepository:
          description: >-
            One of the publicly available Docker repositories supported by
            Artifact Registry.
          enum:
            - PUBLIC_REPOSITORY_UNSPECIFIED
            - DOCKER_HUB
          type: string
      type: object
    DockerRepositoryConfig:
      description: >-
        DockerRepositoryConfig is docker related repository details. Provides
        additional configuration details for repositories of the docker format
        type.
      properties:
        immutableTags:
          description: >-
            The repository which enabled this flag prevents all tags from being
            modified, moved or deleted. This does not prevent tags from being
            created.
          type: boolean
      type: object
    DownloadFileResponse:
      description: The response to download a file.
      properties: {}
      type: object
    Empty:
      description: >-
        A generic empty message that you can re-use to avoid defining duplicated
        empty messages in your APIs. A typical example is to use it as the
        request or the response type of an API method. For instance: service Foo
        { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }
      properties: {}
      type: object
    Expr:
      description: >-
        Represents a textual expression in the Common Expression Language (CEL)
        syntax. CEL is a C-like expression language. The syntax and semantics of
        CEL are documented at https://github.com/google/cel-spec. Example
        (Comparison): title: "Summary size limit" description: "Determines if a
        summary is less than 100 chars" expression: "document.summary.size() <
        100" Example (Equality): title: "Requestor is owner" description:
        "Determines if requestor is the document owner" expression:
        "document.owner == request.auth.claims.email" Example (Logic): title:
        "Public documents" description: "Determine whether the document should
        be publicly visible" expression: "document.type != 'private' &&
        document.type != 'internal'" Example (Data Manipulation): title:
        "Notification string" description: "Create a notification string with a
        timestamp." expression: "'New message received at ' +
        string(document.create_time)" The exact variables and functions that may
        be referenced within an expression are determined by the service that
        evaluates it. See the service documentation for additional information.
      properties:
        description:
          description: >-
            Optional. Description of the expression. This is a longer text which
            describes the expression, e.g. when hovered over it in a UI.
          type: string
        expression:
          description: >-
            Textual representation of an expression in Common Expression
            Language syntax.
          type: string
        location:
          description: >-
            Optional. String indicating the location of the expression for error
            reporting, e.g. a file name and a position in the file.
          type: string
        title:
          description: >-
            Optional. Title for the expression, i.e. a short string describing
            its purpose. This can be used e.g. in UIs which allow to enter the
            expression.
          type: string
      type: object
    GenericArtifact:
      description: GenericArtifact represents a generic artifact
      properties:
        createTime:
          description: Output only. The time when the Generic module is created.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: >-
            Resource name of the generic artifact. project, location,
            repository, package_id and version_id create a unique generic
            artifact. i.e.
            "projects/test-project/locations/us-west4/repositories/test-repo/
            genericArtifacts/package_id:version_id"
          type: string
        updateTime:
          description: Output only. The time when the Generic module is updated.
          format: google-datetime
          readOnly: true
          type: string
        version:
          description: The version of the generic artifact.
          type: string
      type: object
    GoModule:
      description: GoModule represents a Go module.
      properties:
        createTime:
          description: Output only. The time when the Go module is created.
          format: google-datetime
          readOnly: true
          type: string
        name:
          description: The resource name of a Go module.
          type: string
        updateTime:
          description: Output only. The time when the Go module is updated.
          format: google-datetime
          readOnly: true
          type: string
        version:
          description: >-
            The version of the Go module. Must be a valid canonical version as
            defined in https://go.dev/ref/mod#glos-canonical-version.
          type: string
      type: object
    GoogetArtifact:
      description: A detailed representation of a GooGet artifact.
      properties:
        architecture:
          description: Output only. Operating system architecture of the artifact.
          readOnly: true
          type: string
        name:
          description: Output only. The Artifact Registry resource name of the artifact.
          readOnly: true
          type: string
        packageName:
          description: Output only. The GooGet package name of the artifact.
          readOnly: true
          type: string
      type: object
    GoogleDevtoolsArtifactregistryV1File:
      description: >-
        Files store content that is potentially associated with Packages or
        Versions.
      properties:
        annotations:
          additionalProperties:
            type: string
          description: Optional. Client specified annotations.
          type: object
        createTime:
          description: Output only. The time when the File was created.
          format: google-datetime
          readOnly: true
          type: string
        fetchTime:
          description: >-
            Output only. The time when the last attempt to refresh the file's
            data was made. Only set when the repository is remote.
          format: google-datetime
          readOnly: true
          type: string
        hashes:
          description: The hashes of the file content.
          items:
            $ref: '#/components/schemas/Hash'
          type: array
        name:
          description: >-
            The name of the file, for example:
            `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`.
            If the file ID part contains slashes, they are escaped.
          type: string
        owner:
          description: 'The name of the Package or Version that owns this file, if any.'
          type: string
        sizeBytes:
          description: The size of the File in bytes.
          format: int64
          type: string
        updateTime:
          description: Output only. The time when the File was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository:
      description: Customer-specified publicly available remote repository.
      properties:
        uri:
          description: >-
            An http/https uri reference to the upstream remote repository, for
[...]
