name: auto create pr google apis
on:
  workflow_dispatch:
  schedule:
    - cron: '5 4 * * 1'
jobs:
  auto_pr:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          version: '3.x'
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          components: rustfmt, clippy
      #- run: cargo install cargo-release
      - run: bash .github/workflows/scripts/auto-google-pr.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
